<p> This should be the information sent in the text to subscribers </p>

<p> <%= @blast_info.text %> </p><br>
<p> <%= @blast_info.photo %> </p><br>

<p> The information should be located above this line here!</p>



