.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.merriweather{
	font-family: 'Merriweather', serif;
}
.pathway{
	font-family: 'Pathway Gothic One', sans-serif;
}
.button{
	border-radius: 4px;
	background-color: #555555;
	height:30px;
	width:130px;
	font-family: 'Merriweather', sans-serif;
	font-size:12px;
	color: white;
	border:none;
}