.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.merriweather{
	font-family: 'Merriweather', serif;
}
.pathway{
	font-family: 'Pathway Gothic One', sans-serif;
}