<p> Please enter your phone number to receive updates for the daily specials at Block 16!</p>

	<form method="post" action="/submitted" >
		<div><input type="text" name="phone" placeholder="Enter your phone number here"></div>

		<input type="submit" "Enter">
	</form>