<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>Block 16 Notifier</title>
  </head>

<body>

<% if @error != nil %>
  <div class="container">
    <% @error.each do |error_message| %>
      <div role="alert">
        <button type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> <%= error_message %>
      </div>
    <% end %>
  </div>
<% end %>

<%= yield %>


</body>

</html>

